.title {
  font-family: 'TTRamillas', serif;
  font-weight: bold;
  font-size: 3rem;
  color: #191919;
    
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espacio entre cuadros */
  justify-content: center; /* centrar los cuadros */
  padding: 20px;
}

.cuadro {
  background-color: #c9c9c9;
  text-align: center;
  display: inline-block; /* Se ajusta al tamaño del texto */
  padding: 1rem 2rem;    /* Espacio interno */
  border-radius: 1rem;
  border: 3px solid #36404a;
}

.list_text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #191919;
}

.url_text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: blue;
}

@font-face {
  font-family: 'TTRamillas';
  src: url('fonts/TTRamillasTrl-Bold.woff2') format('woff2'),
       url('fonts/TTRamillasTrl-Bold.woff') format('woff'),
       url('fonts/TTRamillasTrl-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.main_text{
  font-family: 'TTRamillas', serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #191919;
}